body {
  font-family: Arial, Helvetica, sans-serif;
  background: red;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 400px;
  margin: 60px auto;
  background: cornsilk;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #3897f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2c7cd1;
}

.post {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.like-btn {
  background: none;
  color: #e0245e;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  background: white;
}

.nav button {
  margin-left: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

.nav-left {
  font-size: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.logout {
  background: red;
}

.comments {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.comments p {
  margin: 4px 0;
}

.comments strong {
  color: #555;
}

.post input {
  width: 100%;
  margin-top: 8px;
  padding: 6px;
}
.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 4px 8px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background: #e60000;
}
.profile-container {
  max-width: 800px;
  margin: auto;
}

.profile-header {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.avatar {
  font-size: 80px;
}

.profile-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-top button {
  padding: 6px 12px;
  cursor: pointer;
}

.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.profile-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.profile-post {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
